<div class="container-base container-form">
  <h2>Añadir Agrupación</h2>

  <form [formGroup]="crearForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="agrupacion">Nombre agrupación*</label>
      <input id="agrupacion" type="text" formControlName="agrupacion" aria-describedby="error-agrupacion"  />
      <div id="error-agrupacion" class="error" role="alert">
        <span *ngIf="campoInvalido('agrupacion')">Campo agrupación obligatorio</span>
      </div>
    </div>

    <div class="form-group">
      <label for="imagen">Imagen (URL)</label>
      <input id="imagen" type="text" formControlName="imagen" />
    </div>

    <div class="form-group">
      <label for="modalidad">Modalidad*</label>
      <input id="modalidad" type="text" formControlName="modalidad" aria-describedby="error-modalidad" required />
      <div id="error-modalidad" class="error" role="alert">
        <span *ngIf="campoInvalido('modalidad')">Campo modalidad obligatorio</span>
      </div>
    </div>

    <div class="form-group">
      <label for="autor">Autor/a*</label>
      <input id="autor" type="text" formControlName="autor" aria-describedby="error-autor" required />
      <div id="error-autor" class="error" role="alert">
        <span *ngIf="campoInvalido('autor')">Campo autor/a obligatorio</span>
      </div>
    </div>

    <div class="form-group">
      <label for="componentes">Componentes</label>
      <input id="componentes" type="text" formControlName="componentes" />
    </div>

    <div class="form-group">
      <label for="historia">Historia</label>
      <textarea id="historia" rows="4" formControlName="historia"></textarea>
    </div>

    <div class="form-group">
      <label for="redesSociales">Redes Sociales</label>
      <input id="redesSociales" type="text" formControlName="redesSociales" />
    </div>

    <div *ngIf="errorMsg" class="error" role="alert">{{ errorMsg }}</div>

    <div class="acciones">
      <button class="button-formulario" type="submit" [disabled]="crearForm.invalid" aria-label="Enviar formulario para alta agrupación">Crear Agrupación</button>
      <button class="button-formulario" type="button" (click)="cancel()" aria-label="Cancelar alta">Cancelar</button>
    </div>
  </form>
</div>
