.crear-agrupacion-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;

  h2 {
    color: #6a1b32;
    margin-bottom: 1rem;
    text-align: center;
  }

  label {
    display: block;
    margin: 1rem 0 0.3rem;
    font-weight: bold;
    color: #6a1b32;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group.row {
    margin: 1rem 0 0.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      margin: 0;
      white-space: nowrap;
    }

    .radio-group-inline {
      display: flex;
      gap: 1.5rem;

      label {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
    }
  }

  button {
    background-color: #6a1b32;
    margin-top: 1.5rem;
    margin-right: 1rem;
    color: #ecb636;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
      background-color: #ecb636;
      color: #6a1b32;             
    }
  }
}
