.login-container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
  
    h2 {
      color: #6a1b32;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 0.5rem;
        color: #6a1b32;
      }
  
      input {
        padding: 0.5rem;
        margin-bottom: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }

      button {
        padding: 0.75rem;
        color: #ecb636;             
        background-color: #6a1b32;
        border:none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease;
        &:hover {
          background-color: #ecb636;
          color: #6a1b32;             
        }
      }
      

      a {
        text-align: center;
        font-size: small;
        color:  #6a1b32;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  