
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()">
      <input type="text" placeholder="Usuario" [(ngModel)]="username" name="username" required aria-label="Nombre de usuario"/>
      <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required aria-label="Contraseña"/>
      <button type="submit" aria-label="Inicio de sesión">Iniciar Sesión</button>
      <a routerLink="/usuarios/registro" aria-label="Ir a la página de registro de usuario">Registrarse</a>
    </form>
    <div *ngIf="mensajeExito" class="success">{{ mensajeExito }}</div>
    <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
  </div>