html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.legal-section,
.contact-section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.legal-section h1, h2, h3,
.contact-section h1, h2, h3 {
  color: #6a1b32;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error{
  color:red;
  font-size: 1rem;
}

.success {
  color: green;
  margin-bottom: 1rem;
  text-align: center;
}