<div class="eventos-container container-base">
  <div class="contenido">
    <div class="calendario">
      <div class="cal-nav">
        <button (click)="verMesAnterior()" aria-label="Mes anterior">‹</button>
        <span>{{ viewDate | date: 'MMMM yyyy' }}</span>
        <button (click)="verMesSiguiente()" aria-label="Mes siguiente">›</button>
      </div>
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="eventos" [weekStartsOn]="1" (dayClicked)="onDayClick($event.day.date)"></mwl-calendar-month-view>
    </div>

    <div class="detalle">
      <ng-template #noEventoSeleccionado>
        <h2>Eventos del día</h2>
        <p *ngIf="!fechaSeleccionada" id="aviso" role="alert">Por favor, selecciona un día del calendario.</p>
        <ng-container *ngIf="fechaSeleccionada">
          <h3>No existen eventos para el día del calendario seleccionado</h3>
          <p><strong>Fecha:</strong> {{ fechaSeleccionada | date:'fullDate' | titlecase }}</p>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="eventoSeleccionado; else noEventoSeleccionado">
        <h2>Eventos del día</h2>
        <p><strong>Título:</strong> {{ eventoSeleccionado.titulo }}</p>
        <p><strong>Fecha:</strong> {{ eventoSeleccionado.fecha | date:'fullDate' | titlecase }}</p>
        <p *ngIf="eventoSeleccionado.hora"><strong>Hora:</strong> {{ eventoSeleccionado.hora }}</p>
        <p *ngIf="eventoSeleccionado.localizacion"><strong>Localización:</strong> {{ eventoSeleccionado.localizacion }}</p>
        <p *ngIf="eventoSeleccionado.agrupacion"><strong>Agrupación:</strong> {{ agrupacionNombre}}</p>
      </ng-container>
    </div>
  </div>

  <div class="acciones" *ngIf="userRole === 'ADMINISTRADOR' || userRole === 'POSTULANTE'">
    <button class="button-formulario" [disabled]="userRole === 'POSTULANTE' || eventoSeleccionado !== null" (click)="crearEvento()" aria-label="Crear evento">Añadir Evento</button>
    <button class="button-formulario" [disabled]="userRole === 'POSTULANTE' || !eventoSeleccionado" (click)="editarEvento()" aria-label="Editar evento">Editar Evento</button>
  </div>
  
</div>
