@use 'variables' as *;

.eventos-container {
  background-color: #ffff;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .contenido {
    display: flex;
    gap: 1.5rem;
  }

  .calendario {
    flex: 2 1 0;
  }

  .detalle {
    flex: 1.2;
    background-color: $gris-fondo;
    padding: 2rem;
    color: $color-burdeos;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid #ddd;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      color: $color-burdeos;
    }

    p {
      margin: 0.5rem 0;
      line-height: 1.4;
    }
  }

  .acciones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .cal-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      background-color: $color-burdeos;
      color: $color-mostaza;
      border: none;
      padding: 0.4rem 0.8rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        background-color: $color-mostaza;
        color: $color-burdeos;
      }
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
      font-weight: 700;
      color: $color-burdeos;
      text-transform: capitalize;
      vertical-align: middle;
      line-height: 1.5;
    }
  }
  button{
    margin-top:0;
  }
}

@media (max-width: 768px) {
  .eventos-container .contenido {
    flex-direction: column;
  }
}