<!--<footer class="footer" role="contentinfo">
  <a routerLink="/" class="footer-logo-link" aria-label="Ir a la página principal">
    <img src="assets/images/carnavalgo_logo.png" alt="CarnavalGo Logo" class="footer-logo-img" />
  </a>
  <div class="footer-links">
    <a routerLink="/politica-privacidad" aria-label="Leer la política de privacidad">Política de Privacidad</a>
    <a routerLink="/politica-cookies" aria-label="Leer la política de cookies">Política de Cookies</a>
    <a routerLink="/contacto" aria-label="Ir a la página de contacto">Contacto</a>
  </div>
</footer>-->

<footer class="footer" role="contentinfo">
  <a routerLink="/" class="footer-logo-link" aria-label="Ir a la página principal">
    <img src="assets/images/carnavalgo_logo.png" alt="CarnavalGo Logo" class="footer-logo-img" />
  </a>

  <div class="footer-links">
    <a routerLink="/politica-privacidad" aria-label="Leer la política de privacidad">Política de Privacidad</a>
    <a routerLink="/politica-cookies" aria-label="Leer la política de cookies">Política de Cookies</a>
    <a routerLink="/contacto" class="footer-contact-desktop" aria-label="Ir a la página de contacto">Contacto</a>
  </div>

  <div class="footer-contact-icon">
    <a routerLink="/contacto" aria-label="Ir a la página de contacto">✉️</a>
  </div>
</footer>
