.footer {
  background-color: #6a1b32;
  color:  #ecb636;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

    .logo-img {
      height: 40px;
    }
    
    .footer-logo-img {
      height: 80px;
    }
    
    .logo-link,
    .footer-logo-link {
      display: inline-block;
    }


    .footer-links {
      flex: 2;
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      text-align: center;
    
      a {
        color: #ecb636;
        background-color: transparent;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;
    
        &:hover {
          background-color: #ecb636;
          color: #6a1b32;
        }
      }
    }
    
}
