@use 'variables' as *;

.home-section {
  padding-bottom: 40px;
  background-color: #fff;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: $color-burdeos;
  }

  p.intro {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.6;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  article {
    text-align: justify;
    line-height: 1.2;
    font-size: 1rem;
    margin-top: 1rem;
    color: #000;
  }

  .cartel,
  .video,
  .noticias {
    margin-top: 40px;

    h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: $color-burdeos;
    }
  }

  .cartel-img {
    max-width: 55%;
    height: auto;
    margin-top: 10px;
  }

  .video iframe {
    width: 100%;
    max-width: 700px;
    height: 450px;
  }

  .noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  
    .noticia {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      h3 {
        margin-top: 0;
        color: $color-burdeos;
      }
  
      a {
        margin-top: auto;
        display: inline-block;
        align-self: center;
        padding: 0.5rem 1rem;
        color: $color-burdeos;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: $color-mostaza;
          color: $color-burdeos;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-section {
    h1 {
      font-size: 2rem;
    }

    .cartel h2,
    .video h2,
    .noticias h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .noticias {
      grid-template-columns: 1fr; 
      gap: 1.5rem;
    }

    .video iframe {
      height: 220px; 
    }

    .cartel-img {
      max-width: 80%;
    }

    article {
      font-size: 0.95rem;
      line-height: 1.5;
    }

    p.intro {
      font-size: 1rem;
    }

    .noticia {
      padding: 1rem;

      h3 {
        font-size: 1.1rem;
      }

      a {
        font-size: 0.9rem;
      }
    }
  }
}
