<section class="home-section">
    <div class="container">
        <h1>Bienvenido a CarnavalGO</h1>
        <p>Tu guía digital del carnaval. Descubre agrupaciones, eventos y mucho más.</p>

        <p>El Carnaval de Cádiz es uno de los eventos más emblemáticos de España, un derroche de alegría, música y color que invade las calles de la ciudad. Desde su origen, este carnaval ha sido una celebración de la libertad, la sátira y la creatividad, y es conocido por sus famosas agrupaciones de chirigotas, comparsas y coros, que dan vida a las calles con sus letras llenas de humor, crítica y emoción.
            <br><br>
            Cada año, miles de personas se agrupan para disfrutar de desfiles, concursos y, sobre todo, la magia que se vive en el ambiente único de Cádiz. Las máscaras, disfraces y el espíritu de camaradería son solo algunos de los elementos que hacen del Carnaval de Cádiz una experiencia inolvidable para locales y visitantes.
            <br><br>
            En CarnavalGO, te traemos toda la información que necesitas para que disfrutes de cada rincón de esta fiesta, desde las agrupaciones más destacadas hasta los eventos más esperados. ¡Prepárate para vivir el Carnaval de Cádiz como nunca antes!
        </p>

        <!-- Cartel -->
        <div class="cartel">
            <h2>Cartel del Carnaval 2025</h2>
            <img src="/assets/images/cartel2025.webp" alt="Cartel Carnaval 2025" class="cartel-img">
        </div>

        <h2>Noticias Recientes</h2>
        <!-- Noticias -->
        <div class="noticias">

            <div class="noticia">
                <h3>La tienda de la Casa del Carnaval adjudicada a Caiclick</h3>
                <p>El Ayuntamiento de Cádiz ha concedido a la empresa Caiclick la explotación de la tienda ubicada en la Casa del Carnaval. La tienda ofrecerá productos de merchandising, grabaciones, fotografías, accesorios y otros artículos relacionados con la ciudad y su carnaval. La concesión tiene una duración inicial de dos años, con posibilidad de prórroga.</p>
                <a href="https://www.diariodecadiz.es/diario_del_carnaval/tienda-casa-carnaval-unica-empresa-concurso_0_2003670076.html" target="_blank">Leer más</a>
            </div>

            <div class="noticia">
                <h3>Cambios en el COAC 2026: propuestas para su duración y formato</h3>
                <p>Los colectivos del Consejo de Participación del COAC han propuesto modificaciones para el Concurso Oficial de Agrupaciones Carnavalescas de 2026, buscando que no exceda los 25 días debido a las fechas tempranas de la edición. El alcalde, Bruno García, ha expresado su disposición a escuchar propuestas y realizar cambios en el certamen.</p>
                <a href="https://www.diariodecadiz.es/diario_del_carnaval/coac-2026-2027-no-25_0_2003646796.html" target="_blank">Leer más</a>
            </div>

            <div class="noticia">
                <h3>La comparsa 'DesOBDC!' recibe el premio Pedro Romero</h3>
                <p>La Asociación de Autores del Carnaval ha otorgado el premio Pedro Romero a la comparsa 'DesOBDC!', dirigida por Germán García Rendón. Este galardón reconoce el compromiso social y la lucha por los derechos y libertades reflejados en su repertorio. La entrega del premio se realizará en el festival Me Río de Janeiro.</p>
                <a href="https://www.diariodecadiz.es/diario_del_carnaval/comparsa-desobdc-obtiene-premio-pedro_0_2003659364.html" target="_blank">Leer más</a>
            </div>

            <div class="noticia">
                <h3>La comparsa 'El cementerio' obtiene el IX premio Emilio López</h3>
                <p>La comparsa 'El cementerio' ha sido galardonada con el IX premio Emilio López por su pasodoble dedicado a las peñas de Cádiz. El premio será entregado en un acto organizado por Diario de Cádiz y Hospitales Pascual en la Casa de Iberoamérica.</p>
                <a href="https://www.diariodecadiz.es/diario_del_carnaval/comparsa-desobdc-obtiene-premio-pedro_0_2003659364.html" target="_blank">Leer más</a>
            </div>

        </div>

        <!-- Video -->
        <div class="video">
            <h2>Vídeo promocional COAC 2025</h2>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/mAaa-mk-D6w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
